<!doctype html>
<html>
    <head>
        <title>Rekisteröinti</title>
        <link
            rel="stylesheet"
            href="{{ url_for('static', filename='css/style.css') }}"
        />
    </head>

    <body>
        {% with messages = get_flashed_messages() %} {% if messages %}
        <ul class="flashes">
            {% for message in messages %}
            <li>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %} {% endwith %}

        <form action="/create" method="post">
            <p>
                Username:
                <br />
                <input type="text" name="username" />
            </p>
            <p>
                Password:
                <br />
                <input type="password" name="password1" />
            </p>
            <p>
                Repeat password:
                <br />
                <input type="password" name="password2" />
            </p>
            <input type="submit" value="Create account" />
        </form>
    </body>
</html>
