<!doctype html>
<!-- 
A page for displaying the entire contents of their private database 
User may: 
- Manually add a specific card to the database
- Edit the existing items
- Delete the existing items
-->
<html>
    <head>
        <title>{{ session.username }}'s card list</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    </head>

    <body>
        {% if session.username %}
        <p>You are logged in as: {{ session.username }}</p>
        <p><a href="/logout">Log out</a></p>
        <p><a href="/">Back to the front page</a></p>
        <p><a href="/users">Back to the user list</a></p>

        {% with messages = get_flashed_messages() %} {% if messages %}
        <ul class="flashes">
            {% for message in messages %}
            <li>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %} {% endwith %}

        <p>Amount of cards in this user's collection: {{ count }}</p>
        <hr />

        {% if card_list and card_list|length > 0 %} {% for card in card_list %}
        <div class="card-row">
            <div class="card-info">
                {{ card['card_number'] }}, {{ card['name'] }}, {{ card['rarity'] }}
            </div>
        </p>
        </div>
        <hr />
        {% endfor %} {% else %}
        <p>This user's collection is empty.</p>
        {% endif %}


    </body>
</html>
