<!DOCTYPE html>
<html>

<head>
  <title>Korttilista</title>
</head>

<body>

  {% if session.username %}
  <p>
    You are logged in as {{ session.username }}
  </p>
  <p>
    <a href="/personal_card_list">Your private collection</a>
  </p>
  <p>
    <a href="/logout">Log out</a>
  </p>
  {% else %}
  <p>
    you are not yet logged in!
    <p>
      <a href="/login">Log in</a>
      <p>
        <a href="/register">Register</a>
      </p>
    </p>
  </p>
  {% endif %}

  <p>
    Korttien määrä: {{ count }}
    Viimeisin lisätty kortti: {{ latest_card }}
  </p>
  <hr />
  {% for card in card_list %}
  <p>
    {{ card["name"] }}
  </p>
  <hr />
  {% endfor %}
  
  <p>
    <a href="/newcard">Lisää kortti tietokantaan</a>
  </p>

  <p>
    <a href="/randomcard">Lisää satunnainen kortti tietokantaan</a>
  </p>
  <p>
    <a href="/deletecard">Poista viimeisin kortti</a>
  </p>
  <p>
    <a href="/personalcardlist">Henkilökohtainen kokoelmasi</a>
  </p>
</body>

</html>