<!doctype html>
<!-- 
A page for a form, which allows user to add items to database.
If target = public, cards are added to the public table.
If target = private, cards are added to the user's personal table.
Cards are identified by their unique id number, which is separate from the card_id
User specify following info on the card: 
- Card's name
- Card's rarity (C, U, R, P, UR, SR or SEC)
- Card's card id, which consists of set number and a suffix such as BT1-001 or EX8-111
-->
<html>
    <head>
        <title>
            Add a card to {{ 'personal' if target=='personal' else 'global' }}
            collection
        </title>
        <link
            rel="stylesheet"
            href="{{ url_for('static', filename='css/style.css') }}"
        />
    </head>

    <body>
        <form action="/send_card" method="post">
            <p>
                Name of the card:
                <br />
                <textarea name="content" rows="3" cols="40"></textarea>
            </p>

            <p>
                Rarity:
                <br />
                <select name="rarity">
                    <option value="C" selected>C</option>
                    <option value="U">U</option>
                    <option value="R">R</option>
                    <option value="UR">UR</option>
                    <option value="SEC">SEC</option>
                    <option value="P">P</option>
                    <option value="SR">SR</option>
                </select>
            </p>

            <p>
                Set:
                <br />
                <select name="card_set">
                    <option value="BT1" selected>BT1</option>
                    <option value="BT2">BT2</option>
                    <option value="BT3">BT3</option>
                </select>
            </p>

            <p>
                Card number suffix (for example 001):
                <br />
                <input
                    type="text"
                    name="card_number_suffix"
                    pattern="\d{1,6}"
                    maxlength="6"
                    value="001"
                    inputmode="numeric"
                />
            </p>

            <input type="hidden" name="target" value="{{ target }}" />
            <p>
                <input type="submit" value="Send" />
            </p>
        </form>
    </body>
</html>
