<!DOCTYPE html>
<html>

<head>
  <title>Korttilista</title>
</head>

<body>
  <p>
    Korttien määrä: {{ count }}
    Viimeisin lisätty kortti: {{ latestCard }}
  </p>
  <hr />
  {% for card in cardList %}
  <p>
    {{ card["name"] }}
  </p>
  <hr />
  {% endfor %}
  
  <p>
    <a href="/newcard">Lisää kortti tietokantaan</a>
  </p>

  <p>
    <a href="/randomcard">Lisää satunnainen kortti tietokantaan</a>
  </p>
  <p>
    <a href="/deletecard">Poista viimeisin kortti</a>
  </p>
</body>

</html>