<!DOCTYPE html>
<html>

<head>
  <title>Koko korttilista</title>
</head>

<body>
  {% if session.username %}
  <p>
    Olet kirjautunut nimellä {{ session.username }}
  </p>
  <p>
    <a href="/logout">Kirjaudu ulos</a>
  </p>
  {% else %}
  <p>
    Not yet logged in
    <p>
      <a href="/login">Log in</a>
      <p>
        <a href="/register">Register</a>
      </p>
    </p>
  </p>
  {% endif %}

  <p>
    Amount of cards: {{ count }}
    Latest added card: {{ latest_card }}
  </p>
  <hr />
  {% for card in card_list %}
  <p>
    {{ card["name"] }}
  </p>
  <hr />
  {% endfor %}
  
  <p>
    <a href="/newcard">Add a card to the database</a>
  </p>

  <p>
    <a href="/random_card">Add a random card to the database</a>
  </p>
  <p>
    <a href="/delete_card">Delete the latest aded card</a>
  </p>
  <p>
    <a href="/personal_card_list">Your private collection</a>
  </p>
</body>

</html>