<!doctype html>
<html>
    <head>
        <title>Full card list</title>
    </head>

    <body>
        {% if session.username %}
        <p>Logged in as: {{ session.username }}</p>
        <p><a href="/logout">Log out</a></p>
        {% else %}
        <p>Not yet logged in</p>
        <p><a href="/login">Log in</a></p>
        <p><a href="/register">Register</a></p>
        {% endif %} {% with messages = get_flashed_messages() %} {% if messages
        %}
        <ul class="flashes">
            {% for message in messages %}
            <li>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %} {% endwith %}

        <p>
            Amount of cards: {{ count }}
            <br />
            Latest added card: {{ latest_card }}
        </p>
        <hr />

        {% if card_list and card_list|length > 0 %} {% for card in card_list %}
        <p>
            {{ card['card_number'] }}, {{ card['name'] }}, {{ card['rarity'] }}
            [Edit]
            <form action="/delete_card" method="post" style="display:inline">
                <input type="hidden" name="id" value="{{ card['id'] }}">
                <input type="hidden" name="name" value="{{ card['name'] }}">
                <button type="submit" onclick="return confirm('Delete this card from the public database?')">Delete</button>
            </form>

        </p>
        <hr />
        {% endfor %} {% else %}
        <p>Your collection is empty. Add new cards!</p>
        {% endif %}

        <p>
            <a href="/new_card" ?target="global">Add a card to the database</a>
        </p>
        <p><a href="/random_card">Add a random card to the database</a></p>
        <p><a href="/personal_card_list">Your private collection</a></p>
        <p><a href="/">Back to the front page</a></p>
    </body>
</html>
