<!doctype html>
<html>
    <head>
        <title>Front page</title>
        <link
            rel="stylesheet"
            href="{{ url_for('static', filename='css/style.css') }}"
        />
    </head>

    <body>
        <div class="container">
            <p>Welcome in the Digimon card database!</p>

            <div class="redirect-box">
                {% if session.username %}
                <p>Logged in as: {{ session.username }}</p>

                <p><a href="{{ url_for('logout') }}">Log out</a></p>
                <p><a href="/personal_card_list">Your private collection</a></p>
                {% else %}
                <p>Not yet logged in</p>
                <p><a href="{{ url_for('login') }}">Log in</a></p>
                <p><a href="{{ url_for('register') }}">Register</a></p>
                {% endif %} {% with messages = get_flashed_messages() %} {% if
                messages %}
                <ul class="flashes">
                    {% for message in messages %}
                    <li>{{ message }}</li>
                    {% endfor %}
                </ul>
                {% endif %} {% endwith %}
            </div>
            <p>
                <a href="/full_card_list">The public card database</a>
            </p>
            <p>
                <a href="/user_list">List of users</a>
            </p>
        </div>
    </body>
</html>
