<!DOCTYPE html>
<html>

<head>
  <title>Korttilista</title>
</head>

<body>
  {% if session.username %}
  <p>
    Olet kirjautunut nimellä {{ session.username }}
  </p>
  <p>
    <a href="/logout">Kirjaudu ulos</a>
  </p>
  {% else %}
  <p>
    Et ole vielä kirjautunut sisään
    <p>
      <a href="/login">Kirjaudu sisään</a>
      <p>
        <a href="/register">Luo tunnus</a>
      </p>
    </p>
  </p>
  {% endif %}

  <p>
    Korttien määrä: {{ count }}
    Viimeisin lisätty kortti: {{ latest_card }}
  </p>
  <hr />
  {% for card in card_list %}
  <p>
    {{ card["name"] }}
  </p>
  <hr />
  {% endfor %}
  
  <p>
    <a href="/newcard">Lisää kortti tietokantaan</a>
  </p>

  <p>
    <a href="/random_card">Lisää satunnainen kortti tietokantaan</a>
  </p>
  <p>
    <a href="/delete_card">Poista viimeisin kortti</a>
  </p>
  <p>
    <a href="/personal_card_list">Henkilökohtainen kokoelmasi</a>
  </p>
</body>

</html>