<!DOCTYPE html>
<html>

<head>
  <title>Front page</title>
</head>

<body>
  <p>
    Welcome in the Digimon card database!
  </p>

  {% if session.username %}
  <p>
    You are logged in as {{ session.username }}
  </p>
  <p>
    <a href="/personal_card_list">Your private collection</a>
  </p>
  <p>
    <a href="/logout">Log out</a>
  </p>
  {% else %}
  <p>
    you are not yet logged in!
    <p>
      <a href="/login">Log in</a>
      <p>
        <a href="/register">Register</a>
      </p>
    </p>
  </p>
  {% endif %}

  <p>
    <a href="/full_card_list">The public card database</a>
  </p>
</body>

</html>