<!doctype html>
<html>
    <head>
        <title>Add a card to a {___} database</title>
    </head>

    <body>
        <form action="/send_card" method="post">
            <p>
                Name of the card:
                <br />
                <textarea name="content" rows="3" cols="40"></textarea>
            </p>
            <input type="hidden" name="target" value="{{ target }}" />
            <p>
                <input type="submit" value="Send" />
            </p>
        </form>
    </body>
</html>
