<!DOCTYPE html>
<html>

<head>
  <title>Korttilista</title>
</head>

{% if session.username %}
  <p>
    Olet kirjautunut nimellä {{ session.username }}
  </p>
  <p>
    <a href="/logout">Kirjaudu ulos</a>
  </p>
  {% else %}
  <p>
    Et ole vielä kirjautunut sisään
  </p>
  {% endif %}

<body>
  <p>
    Korttien määrä: {{ count }}
    Viimeisin lisätty kortti: {{ latest_card }}
  </p>
  <hr />
  {% for card in card_list %}
  <p>
    {{ card["name"] }}
  </p>
  <hr />
  {% endfor %}
</body>

</html>